<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Ana Buendía Ruiz-Azuaga">
    <link rel="icon" type="image/png" href="./img/favicon.png"/>
    {% block informacion %}
    <title>Pagina</title>
    <link rel="stylesheet" href="./css/estilo.css">
    {% endblock %}
</head>

<body>
    <header>
        <div class="logo">
            <img src="./img/dice.png">
        </div>

        <div class="texthead">
            <div class="title">
                <h1>Asociación de rol</h1>
            </div>

            <ul class="menu">
                <li>
                    <a href="index.php">Inicio</a>
                </li>
                <li><a href="index.php">Menu 2</a></li>
                <li><a href="index.php">Menu 3</a></li>
            </ul>

        </div>

    </header>

    <div class="container">
        <aside>
            <ul>
                <li>
                    <a href="index.php">Inicio</a>
                </li>
                <!--<li>
                    <a href="index.php">Enlace de interes</a>
                </li>
                <li>
                    <a href="index.php">Enlace de interes</a>
                </li>-->

                {% if not user %}
                    <li>
                        <a href="login.php">Login</a>
                    </li>
                {% else %}
                    <li>
                        <a href="perfil.php">Mi perfil</a>
                    </li>
                    <li>
                        <a href="logout.php">Logout</a>
                    </li>

                    {% if user.rol == 'moderador' or user.rol == 'gestor' or user.rol == 'superusuario' %}
                        <li>
                            <a href="lista_comentarios.php">Lista de Comentarios</a>
                        </li>

                        <li>
                            <a href="buscadores.php">Buscadores</a>
                        </li>

                        {% if user.rol == 'gestor' or user.rol == 'superusuario' %}

                            <li>
                                <a href="add_evento.php">Añadir evento</a>
                            </li>

                            <li>
                                <a href="lista_eventos.php">Lista de Eventos</a>
                            </li>

                            {% if user.rol == 'superusuario' %}
                            <li>
                                <a href="cambiar_roles.php">Cambiar roles</a>
                            </li>

                            {% endif %}

                        {% endif %}

                    {% endif %}
                {% endif %}


            </ul>
        </aside>

        

        {% block contenido %}

        {% endblock %}

        
    </div>

    <footer>
        <p>Pie</p>
        <p>© Copyright</p>
        <p>Ana Buendía Ruiz-Azuaga</p>
    </footer>
    

</body>


</html>