body,html{
    height: 100%;
	margin:0 auto;
    padding: 0 auto;
}


/* Header */

.header{
    height: 20%;
    background-color: #3B3B3B;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-evenly;
}

.logo{
    background-image: url("../img/dice.png");
    width: 8%;
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    margin: 1%;
    margin-top: 1%;
}

.texthead{
    flex: 3.0;
}

.title{
    color:rgb(255, 255, 255);
    font-size: 1.3em;
    text-align: center;
}

.menu{
    list-style: none;
    text-align: center;
}

.menu li{
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}

.menu li a{
    color:rgb(255, 255, 255);
}

.menu li:not(:last-child){
    border-right:1px solid rgb(255, 255, 255);
}

/* Footer */

.footer{
    height: 30%;
    background-color: #3B3B3B;
    text-align: center;
    padding: 2%;
    color: rgb(255, 255, 255);
}

/* Container */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    flex: 1;
    justify-content: center;
}

/* Barra lateral */

.barra{
    width: 20%;
    background-color: rgb(59, 59, 59);
}

.barra ul li{
    list-style: none;
}

.barra ul li a{
    color: rgb(255, 255, 255);
}

/* Content */

.content{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.evento{
    text-align: center;
    flex: 1;
    width: 33%;
    height: auto;
    min-width: 30%;
}

img{
    max-width: 100%;
    height: auto;
}
