{% extends "plantilla.html" %}

{% block informacion %}
    <title>Login</title>
    <link rel="stylesheet" href="./css/estilo.css">
{% endblock %}

  {% block contenido %}

  

    <div class="add-evento">
        <form action="borrar_evento.php?ev={{ evento.id }}" method="post" enctype="multipart/form-data">
            Confirme que quiere borrar el evento o <a href="index.php">vuelva a la página principal</a> <br>
            <input type="submit" value="Borrar evento" />
        </form>

    </div>
    

  {% endblock %}

