{% extends "plantilla.html" %}

{% block informacion %}
    <title>Portada</title>
    <link rel="stylesheet" href="./css/estilo.css">
{% endblock %}

{% block contenido %}
    <div class="lista_eventos">

        <div id="error-add-evento">
            {% if resultado == "error" %}
                <p>La búsqueda no obtuvo ningún resultado, pruebe de nuevo</p>
            {% endif %}
          </div>

        {% for event in lista_eventos %}
            <div class="evento-en-lista">
                <a href="editar_evento.php?ev={{ event.id }}">
                    <img src={{ event.foto_portada }}>
                </a>
                <a href="editar_evento.php?ev={{ event.id }}"> 
                    <h4>{{ event.titulo }}</h4>
                    <p>{{ event.publicado }}</p>
                </a>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}
           
