{% extends "plantilla.html" %}

{% block informacion %}
    <title>Login</title>
    <link rel="stylesheet" href="./css/estilo.css">
{% endblock %}

  {% block contenido %}

    <div class="login">
      <div id="error-add-evento">
        {% if resultado == "error" %}
            <p>Ha ocurrido un error, comprueba los datos introducidos</p>
        {% endif %}
      </div>
      
      <form action="login.php" method="post">
        Nick:<br>
        <input type="text" name="nick" /><br>
        Password:<br>
        <input type="password" name="contraseña" /><br>
        <input type="submit" value="Login" />
      </form>

      <p>¿No tienes cuenta? <a href="registrarse.php"> Regístrate</a></p>
    </div>

  {% endblock %}

