{% extends "padre.html" %}

{% block informacion %}
    <title>Portada</title>
    <link rel="stylesheet" href="../css/estilo.css">
{% endblock %}

{% block contenido %}
    <div class="content">

        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>
        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>
        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>
        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>
        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>
        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>
        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>
        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>
        <div class="evento">
            <a href="evento.php">
                <img src="./img/dice.png">
                <h3>Evento</h3>
            </a>
        </div>

    </div>
{% endblock %}
           
