{% extends "plantilla.html" %}

{% block informacion %}
    <title>Portada</title>
    <link rel="stylesheet" href="./css/estilo.css">
{% endblock %}

{% block contenido %}
    <div class="content">

        {% for event in lista_eventos %}
            <div class="evento">
                <a href="evento.php?ev={{ event.id }}">
                    <img src={{ event.foto_portada }}>
                    <h3>{{ event.titulo }}</h3>
                </a>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}
           
